.login-form {
  display: flex;
  flex-direction: column;
  background-color: #20639B;
  margin: 0 50px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.login-form > .input {
  margin: 5px 25px;
}