:root {
  --color-primary: #ff9800;
  --color-primary-dark: #f57c00;
  --color-primary-light: #ffe0b2;
  --color-white: #fffafa;
  --font-family-sans-serif: "Josefin Sans", sans-serif;
  --font-family-monospace: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  font-family: var(--font-family-sans-serif);
}
