:root {
  --color-primary: #FF9800;
  --color-primary-dark: #F57C00;
  --color-primary-light: #FFE0B2;
  --color-white: #FFFAFA;
  --font-family-sans-serif: 'Josefin Sans', sans-serif;
  --font-family-monospace: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  font-family: var(--font-family-sans-serif)
}
